@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  background: url("https://img.freepik.com/premium-photo/smart-doctor-with-stethoscope-with-digital-icon-hologram-medical-graphic-diagram-laboratory-lab-hospital-background-virus-outbreak-coronavirus-covid19-technology-medical-concept_33829-671.jpg")
  no-repeat center center/cover;
}

/* DARK OVERLAY */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: -1;
}

/* LOGO */
.logo {
  position: absolute;
  top: 50px;
  left: 550px;
  color: white;
  text-align: center;
}

/* CONTAINER */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

/* BOX */
.auth-box {
  width: 450px;
  padding: 25px;

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);

  border-radius: 15px;
  box-shadow: 0 8px 40px rgba(0,0,0,0.6);
}

/* TITLE */
.auth-box h2 {
  text-align: center;
  color: white;
}

/* GRID DEFAULT (PATIENT) */
.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

/* DOCTOR GRID */
.form-grid.doctor {
  grid-template-columns: repeat(2,1fr);
}

/* FULL WIDTH */
.full {
  grid-column: span 2;
}

/* INPUT */
.auth-box input,
.auth-box select {
  padding: 12px;
  border-radius: 8px;
  border: none;

  background: rgba(255,255,255,0.2);
  color: white;
}

/* SELECT FIX */
.auth-box select option {
  color: black;
}

/* PLACEHOLDER */
.auth-box input::placeholder {
  color: #ddd;
}

/* FOCUS */
.auth-box input:focus,
.auth-box select:focus {
  outline: none;
  box-shadow: 0 0 10px #38bdf8;
}

/* BUTTON */
.auth-box button {
  padding: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.auth-box button:hover {
  transform: scale(1.05);
}

/* TEXT */
.auth-box p {
  text-align: center;
  color: white;
}

.auth-box a {
  color: #38bdf8;
}